<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--    <servlet>
        <servlet-name>MP3Servlet</servlet-name>
        <servlet-class>control.MP3Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MP3Servlet</servlet-name>
        <url-pattern>/MP3Servlet</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>MyMP3Servlet</servlet-name>
        <servlet-class>control.MyMP3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyMP3LyricsServlet</servlet-name>
        <servlet-class>control.MyMP3LyricsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MP3Delete</servlet-name>
        <servlet-class>control.MP3Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyMP3Servlet</servlet-name>
        <url-pattern>/MyMP3Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyMP3LyricsServlet</servlet-name>
        <url-pattern>/MyMP3LyricsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MP3Delete</servlet-name>
        <url-pattern>/MP3Delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
